html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa; /* Light background */
  color: #343a40; /* Dark text for contrast */
  font-family: 'Segoe UI', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}